*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: rgb(7, 8, 1);
    background: rgb(16, 16, 15);
}
.container{
    width:fit-content;
    padding: 35px;
    
    box-shadow: rgb(200, 255, 0);
    background: white;
    border-radius: 10px;
    
}
.container text{
    max-height: 255px;
    overflow: auto;

}
.text::-webkit-scrollbar{
    width:0;
}
.text {
    padding: 13px 20px 0;
    border: 1px solid rgb(27, 24, 24);
    border-radius: 10px;
    font-size:15px ;
    text-align:justify ;
    letter-spacing: 1px;
    word-break: break-all;
    justify-content: space-between;


}
.text button{
    position: absolute;
    border:1px solid white;
    box-shadow: red;
    padding:8px ;
    outline: none;
    width: 105px;
    background-color: rgb(13, 12, 12);
    color: rgb(187, 211, 5);
    font-size:17px ;
    font-weight: bolder;
    transition: transform 0.3s ease ;

}
.text button:active{
    transform: scale(0.977) ;
}
.edit .result {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;


}
.result li{
    list-style: none;
    
}
.result li span{
    display: block;
    text-decoration: none;
    font-size:20px ;
    margin-left: 10px;
}
.result li b{
    font-weight: 500px;
}